﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background: rgba(245, 248, 250, 1);
    font-family: Mulish, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #929A9F; /* Light Blue */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
}

a {
    color: #0366d6;
}

.btn {
    height: 48px;
    width: 190px;
    left: 1388px;
    top: 29px;
    border-radius: 4px;
    padding: 12px, 20px, 12px, 20px;
}

.btn-primary {
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #00A9E0;
    border-color: #1861ac;
}

.btn-secondary {
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #B6B9BA;
    color: #3C4447;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding:0;
    margin:0;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    text-decoration: underline;
}

.nav:after {
    background: url("../images/icon/navigation/Vector.svg");
    content: "";
    width: 8px;
    margin-left: 16px;
    height: 12px;
    top: 6px;
    position: relative;
}

#home {
    width: 70%;
    margin: auto;
}

#login{
    height: 800px;
}

#login-form-data{
    width: 60%;
    margin:auto;
}

.nav-button{
    position:absolute;
    right: 60px;
    top: 60px;
    z-index:100;
}

.description {
    margin-top: 100px;
}

.description-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #263640;
}

.description-content {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #929A9F;
}

.sections {
    padding: 0;
    margin: 0;
}

.section-image {
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.07));
    margin: 24px 0px;
    object-fit: fill;
}

.section-image img {
    width: 100%;
    height: 333px;
}

.section-description-title {
    font-size: 20px;
    color: #263640; /* Dunkel Blau */
    margin: 24px 0px;
}

.section-description-content {
    margin: 24px 0px;
}

.section-nav {
    color: #FF9900; /* Orange */
}

.article {
    margin-top: 170px;
    background: #263640; /* Dunkel Blau */
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F5F8FA;
    width: 1009px;
    height: 584px;
    color: #ffffff;
}

.article-frame {
    padding: 98px 0 70px 98px;
}

.article-head {
    color: #929A9F; /* Light Blue */
    font-size: 14px;
    text-transform: uppercase;
}

.article-title {
    font-size: 32px;
}

.article-image {
    position: relative;
    height: 662px;
    left: 668px;
    top: -440px;
    margin: 24px 0;
    object-fit: fill;
    filter: drop-shadow(0 10px 50px rgba(0,0,0,.2));
}

.article-image img {
    max-width: 100%;
    height: 662px;
    width: 488px;
    object-fit: cover;
}

.article-separator {
    margin-top: 56px;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
}

.article-nav {
    padding-top: 24px;
    color: #FFFFFF; /* White */
}

.article-nav:after {
    filter: brightness(10);
}

.content {
    padding-top: 1.1rem;
}

.login-form {
    width: 80%;
    margin: auto;
    padding: 150px 0 70px 0;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #555C5E;
}

.login-changePassword-title {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.login-change-info {
    margin-top: 68px;
    padding-top: 24px;
    border-top: 1px solid #E7E8E8;
}

.icon-validation-ok {
    color: #0C8642;
    padding-left: 20px;
}

.icon-validation-invalid {
    color: red;
    padding-left: 20px;
}

.icon-validation-ok:before {
    background: url("../images/icon/validation-ok.svg");
    content: "";
    width: 18px;
    height: 14px;
    top: 6px;
    position: absolute;
    left: 0;
}

.icon-validation-invalid:before {
    background: url("../images/icon/validation-invalid.svg");
    content: "";
    width: 12px;
    height: 12px;
    top: 6px;
    position: absolute;
    left: 0;
}

.login-logo {
    background: #002B51;
}

.login-logo-image {
    left: 35%;
    position: absolute;
    top: 40%;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .article-image {
        position: relative;
        height: 662px;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
