﻿@page "/login"

@using Data

@inject NavigationManager NavigationManager

    <div id="login">

        <div class="nav-button">
            <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo(""))">Acceso PANTALLA 1</button>
        </div>

        <div class="login row">
            <div class="login-form col-md-6 col-sm-12">
                <div id="login-form-data">

                        <div class="login-changePassword-title col-sm-12 form-group">
                            <h3>Change Password</h3>
                        </div>

                        <div class="col-sm-12 form-group">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante sapien, tempor sit amet lorem varius, tempus fringilla leo, ascate modal us.
                        </div>

                        <div class="col-sm-12 form-group">
                            <input type="password" style="width: 100%;" placeholder="Password" @bind-value="@Model.Password.Value" @oninput="@ValidatePassword" />
                        </div>

                        <div class="login-validationSummary col-12 form-group">
                            <div class="col-sm-12 row form-group">
                                <div class="@(Model.Password.CssHasMinLength) col-md-6 col-sm-12">
                                    8 Characters
                                </div>
                                <div class="@(Model.Password.CssHasCapital) col-md-6 col-sm-12">
                                    1 Capital letter
                                </div>
                                <div class="@(Model.Password.CssHasNumber) col-md-6 col-sm-12">
                                    1 Number
                                </div>
                                <div class="@(Model.Password.CssHasSpecialChar) col-md-6 col-sm-12">
                                    1 Special char
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <input type="password" style="width: 100%;" placeholder="Repeat Password" @bind-value="@Model.ConfirmPassword" @oninput="@ConfirmPassword" />
                            @if (!Model.ValidationRepeatPassword)
                            {
                                <label class="validation-message">@Model.ValidationMessageRepeatPassword</label>
                            }
                        </div>

                        <div class="col-sm-12 form-group">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button class="btn btn-secondary">Cancel</button>
                        </div>

                        <div class="login-change-info col-sm-12 form-group">
                            <label>Do you need to change your personal information?<a href="#">Change personal information</a></label>
                        </div>

                </div>

            </div>
            <div class="login-logo col-md-6 col-sm-12">
                <div class="login-logo-image"><img src="./images/login-logo.svg" /></div>
            </div>
        </div>

    </div>


    @code {

        private Login Model = new Login() { Password = new Password(string.Empty), ConfirmPassword=string.Empty };

        private void ValidatePassword(ChangeEventArgs args)
        {
            if (args == null) return;

            Model.Password.Value = args.Value.ToString();

            Model.Password.Validate();

            this.InvokeAsync(StateHasChanged);
        }

        private void ConfirmPassword(ChangeEventArgs args)
        {
            if (args == null) return;

            Model.ConfirmPassword = args.Value.ToString();

            this.InvokeAsync(StateHasChanged);

        }

    }
