﻿@page "/"

@using Data

@inject NavigationManager NavigationManager


<div id="home">

    <div class="nav-button">
        <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo("login"))">Acceso PANTALLA 2</button>
    </div>

    <div class="description">
        <div class="description-title col-lg-6 col-sm-12">
            Unsere Dienstleistungen
        </div>
        <div class="description-content">
            Dienstleistung ist für unsere Mitarbeiter Herausforderung, das ist die Stärke unseres Teams. Ganz gleich, ob Verkehrsplanungen, Ver- und Ent­sorgung, Lärmschutz oder Spezialgebiete – wir bieten Rundum-Service mit:
        </div>
    </div>

    <div class="sections row">
        @foreach (var item in SectionsList)
        {
            <div class="section col-lg-4 col-sm-12">
                <div id=@item.Id class="section-image">
                    <img src=@item.ImageUrl />
                </div>
                <div class="section-description">
                    <div class="section-description-title">
                        @item.Title
                    </div>
                    <div class="section-description-content">
                        @item.Content
                    </div>
                </div>
                <div class="nav section-nav">@item.Link</div>
            </div>
        }
    </div>

    <div class="row">
        <div id=@MainArticle.Id class="article">
            <div class="article-frame col-6 col-sm-6">
                <div class="article-head">
                    @MainArticle.Subtitle
                </div>
                <div class="article-title">
                    @MainArticle.Title
                </div>
                <div class="article-content">
                    @MainArticle.Content
                </div>
                <div class="article-separator"></div>
                <div class="nav article-nav">
                    @MainArticle.Link
                </div>
            </div>
        </div>
        <div class="article-image">
            <img src=@MainArticle.ImageUrl />
        </div>
    </div>

</div>

@code {

    private List<Article> SectionsList = new List<Article>(){
    new Article(1, "Studien und Konzepte, Gesamtplanung", string.Empty,"Neubau und Ausbau von Straßen, Verkehrsflächen, Wasserwegen und Eisenbahnen erfordert überzeugende Verkehrskonzepte.","./images/image-1.jfif", "Erfahren Sie mehr"),
    new Article(2, "Verkehrsanlagen und Ingenieurbauwerke", string.Empty, "Verkehrskonzepte sind ein entscheidender Faktor jeglicher Infrastruktur. Das Ingenieurbüro Weiss hat deshalb ein Expertenteam aufgebaut.", "./images/image-2.jfif", "Erfahren Sie mehr"),
    new Article(3, "Entwurfsvermessung, 3D-Laserscanning",string.Empty, "Bei Ausführung sämtlicher vermessungstechnischer Aufgaben im Leistungsbild „Ent­wurfs­vermessung“ sind wir ein leistungsstarker Partner.", "./images/image-3.jfif", "Erfahren Sie mehr"),
};

    private Article MainArticle = new Article(4, "Diplom-Ingenieur Dieter Weiss gründete im Jahre 1971 sein Ingenieurbüro.", "Unsere Firmenhistorie", "Fast 30 Jahre lang führte er es als Alleininhaber. 1998 trat Sohn Klaus weiss als Stellvertreter an die Seite seines Vaters. Seit 2006 ist Diplom-Ingenieur Klaus Weiss alleiniger Geschäftsführer", "./images/image-4.jfif", "Lesen Sie weiter");

}
